/*
:root {
 
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --btn-txt-cl: #ffffff;
  --main-txt-cl: #212121;
  --hdr-cntcts-lst: #757575;
  --accent-txt-cl: #2196f3;
  
  --porfolio-border-img: #eeeeee;
  --logo-black: #000000;
  --btn-prtfl: #f5f4fa;
  --item-light: rgba(255, 255, 255, 0.6);
  --sctn-sntnc: #2f303a;
  --header-container-border: #ececec;
  --accent-txt-hvr-fcs-cl: #188ce8;
  --accent-social-link-light: #afb1b8;
  --accent-social-link-dark: rgba(255, 255, 255, 0.1);
  --clients-link: rgba(175, 177, 184, 1);

  --linear-gradient: rgba(47, 48, 58, 0.4);

  --backdrop: rgba(0, 0, 0, 0.2);
  --overlay-bgr-clr: rgba(33, 150, 243, 0.9);
  --border-footer-form: 1px solid rgba(255, 255, 255, 0.3);
  --modal-border: rgba(33, 33, 33, 0.2);

  
  --box-shadow-porfolio-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-porfolio-list: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  --indent: 30px;
  --items: 3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-slow: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

*/

/* ----------------- base styles  --------------------------- */

/*
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--btn-txt-cl);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}
*/
/*-------------------- reset styles --------------------------- */

/*
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
*/

/*----------------------- basy styles  ---------------------------- */

/*
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  }
*/

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*/

/*
img {
  display: block;
  max-width: 100%;
  height: auto;
}
*/

/*
address {
  font-style: normal;
}
*/

/*
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
*/

/*
.uppertittle {
  font-size: 36px;
  line-height: calc(42 / 36);
}
*/

/*
.subtittle {
  font-size: 14px;
  line-height: calc(16 / 14);
}
*/

/*
.btn {
  display: block;
  margin: 0 auto;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
}
*/

/*
.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: calc(31 / 26);

  color: var(--accent-txt-cl);
}

.logo--black {
  color: var(--logo-black);

  margin-right: 93px;
}

.logo--white {
  color: var(--btn-txt-cl);

  display: block;
  margin-bottom: 20px;
}
*/

/* -------------------  Header  ------------------------ */

/*
.header {
  border-bottom: 1px solid var(--header-container-border);
}

.header__container {
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav {
}

.nav__list {
  display: flex;
}

.nav__item {

  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  margin-right: 50px;
}

.nav__item:nth-last-child(1) {
  margin-right: 0;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  cursor: pointer;

  position: relative;

  transition: color var(--transition);
}

.nav__link--active {
  color: var(--accent-txt-cl);
}
.nav__link--active::after {
  content: '';
  position: absolute;
  bottom: -36px;
  left: 0px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: var(--accent-txt-cl);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt-cl);
}

.contacts {
}

.contacts-list {
  display: flex;
}
.contacts-list__item {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  margin-right: 30px;
}

.contacts-list__item:nth-last-child(1) {
  margin-right: 0;
}

.contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--hdr-cntcts-lst);

  cursor: pointer;

  transition: color var(--transition);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-txt-cl);
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

*/

/*  ---------------- hero  ---------------- */

/*
.hero {
}

.hero--section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--sctn-sntnc);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, var(--linear-gradient), var(--linear-gradient)),
    url('../images/hero.jpg');
}

.hero__images {
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}

.hero__title--position {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

*/

/* ----------------- btn.scss -------------------- 
.btn__hero {
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);

  padding: 10px 32px;

  transition: color var(--transition), background-color var(--transition);
}

.btn__hero:hover,
.btn__hero:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-hvr-fcs-cl);
}
*/

/*---------------------- features  -------------------*/

/*
.features {
  display: flex;
  gap: 30px;
}

.features__item {
}

.features__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--btn-prtfl);
  border-radius: 4px;
  margin-bottom: 30px;
}
*/

.features__icon {
}

/*
.subtittle__features {
  text-transform: uppercase;
  margin-bottom: 10px;
}

*/

/*
.text-features {
  line-height: calc(24 / 14);
  color: var(--hdr-cntcts-lst);
}
*/

/*------------------------- activities -----------------*/

/*
.activities {
  padding-top: 0px;
}

.activities__uppertittle {
  text-align: center;
  margin-bottom: 50px;
}

.activities__list {
  display: flex;
  gap: 30px;
}

.activities__item {
  position: relative;
}

.activities__div {
  position: absolute;
  bottom: 0;
  right: 0;

  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  background: var(--linear-gradient);
}
*/

/*
.subtittle-activities {
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}
*/

/*  -------------------- team --------------------*/

/*
.team {
  background-color: var(--btn-prtfl);
}

.team__uppertittle {
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--btn-txt-cl);
}

.team__card {
  text-align: center;
  padding: 30px 0;
}

*/

/*

.card {
}

.card__title {
  font-size: 16px;
  line-height: calc(19 / 16);
}

.card__title--name {
  margin-bottom: 10px;
}

.card__title--position {
  color: var(--hdr-cntcts-lst);
  margin-bottom: 16px;
}

*/

/*
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list__item {
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__link--team {
  background-color: var(--btn-txt-cl);
  color: var(--accent-social-link-light);

  transition: color var(--transition), background-color var(--transition);
}


.social-list__link--team:hover,
.social-list__link--team:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}

.social-list__icon {
  fill: currentColor;
}

*/

/* ------------------ clients  ------------------------- */

/*
.clients {
  display: block;
}

.clients__uppertittle {
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__item {
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--clients-link);
  color: var(--clients-link);

  border-radius: 4px;

  transition: color var(--transition), border var(--transition);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-txt-cl);
  border: 1px solid var(--accent-txt-cl);
}

.clients__icon {
  fill: currentColor;
}

*/

/*  -------------------- Portfolio ------------------ */

/*
.section-portfolio {
  padding: 94px 0;
}

/*  ----------------- Portfolio navigation  ----------------------- */

/*
.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/* ---- btn --- */

/*
.portfolio-nav__btn {
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--btn-prtfl);

  text-align: center;
  padding: 6px 22px;

  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
}

.portfolio-nav__btn:hover,
.portfolio-nav__btn:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: var(--box-shadow-porfolio-btn);
}

/* ---------------- Portfolio ------------------------------- */

/*
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
}

.portfolio__link {
  display: block;

  transition: box-shadow var(--transition);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: var(--box-shadow-porfolio-list);
}

.portfolio__overlay-out {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;

  background-color: var(--overlay-bgr-clr);
  backdrop-filter: blur (3px);

  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0);
}

/*
.text-overlay-portfolio {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--btn-txt-cl);
}
*/

/*
.porfolio__contents {
  border: 1px solid var(--porfolio-border-img);
  padding: 20px 24px;
  border-top: none;
}

.portfolio__title {
  margin-bottom: 4px;
}
*/

/*
.title-portfolio {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
*/

/*
.text-portfolio {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--hdr-cntcts-lst);
}
*/

/*----------------------Footer------------------------------- */

/*
.footer-section {
  background-color: var(--sctn-sntnc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__address {
  font-style: inherit;
}

.footer__list {
}

.footer_item {
}

.footer__link {
  line-height: calc(24 / 14);
}

.footer__link--location {
  color: var(--btn-txt-cl);
}

.footer__link--contacts {
  color: var(--item-light);

  transition: color var(--transition);
}

.footer__link--contacts:hover,
.footer__link--contacts:focus {
  color: var(--accent-txt-cl);
}

.footer__item,
.footer__link--location {
  margin-bottom: 9px;
}

.footer__item:last-child {
  margin-bottom: 0px;
}

*/

/* --------------------  footer--social ------------------*/

/*
.footer__social {
  margin-right: auto;
}

.subtittle-social {
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}

.footer__social-subtittle {
  margin-bottom: 20px;
}

*/

/*

.social-list {
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__link--footer {
  background-color: var(--accent-social-link-dark);
  color: var(--btn-txt-cl);

  transition: color var(--transition), background-color var(--transition);
}

.social-list__link--footer:hover,
.social-list__link--footer:focus {
  background-color: var(--accent-txt-cl);
}

.social-list__icon {
  fill: currentColor;
}

*/

/*------------------------  footer-form  ------------------------*/

/*
.footer__form {
  display: block;
}
*/

/*
.subtittle--form {
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}
*/

/*

.footer__form-subtittle {
  margin-bottom: 20px;
}

.footer__form-blok {
}

.footer__form-label {
}

.footer__form-input--email {
  width: 358px;
  padding: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: var(--border-footer-form);
  background-color: transparent;
  margin-right: 12px;
  color: var(--btn-txt-cl);
}

*/

/*
.btn-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--btn-txt-cl);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;

  background-color: var(--accent-txt-cl);
  box-shadow: var(--modal-btn-box-shadow);
  border-radius: 4px;
  cursor: pointer;
}
*/

/*

.footer__form-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: none;

  position: relative;
}

.footer__form-icon--send {
  position: absolute;
  bottom: 13px;
  right: 28px;

  fill: var(--btn-txt-cl);
}

*/

/* ----------------- Modal window --------------------- */

/*
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop);

  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--btn-txt-cl);
  border-radius: 4px;

  padding: 44px 40px;

  opacity: 1;
  transition: transform var(--transition), opacity var(--transition);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3);
}

/*

/*
.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill var(--transition);
}

.btn-modal:hover,
.btn-modal:focus {
  fill: var(--accent-txt-cl);
}
*/

/*
.register-form {
  text-align: center;
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form__wrap:last-child {
  margin-bottom: 0;
}

.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  padding-left: 0px;
}

.register-form__input,
.register-form__message {
  width: 100%;
  border: 1px solid var(--modal-border);
  padding: 11px;
  padding-left: 42px;
  border-radius: 4px;

  transition: border-color var(--transition);
}

.register-form__input:hover,
.register-form__input:focus-visible {
  border: 1px solid var(--accent-txt-cl);
  outline: none;
}

.register-form__input:hover + .register-form__icon,
.register-form__input:focus-visible + .register-form__icon {
  fill: var(--accent-txt-cl);
}

.register-form__icon:hover,
.register-form__icon:focus {
  fill: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}

.register-form__message:hover,
.register-form__message:focus {
  border-color: var(--accent-txt-cl);
  outline: none;
}

.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  transition: fill var(--transition);
}

.register-form__message {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
*/

/*
.register-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 25px;
}

.agreement-form {
}

.icon-agreement {
}

.icon-agreement__form-uncheck {
}

.agreement-form__icon {
}

.agreement-form__checkbox:checked + .agreement-form__icon .icon-agreement__form-uncheck {
  opacity: 0;

  transition: opacity var(--transition);
}

.icon-agreement__form-check {
  opacity: 0;

  fill: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);

  transition: opacity var(--anim-fast);
}

.agreement-form__checkbox:checked + .agreement-form__icon .icon-agreement__form-check {
  opacity: 1;
}

*/

/*
.text-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: calc (24 / 14);
  letter-spacing: 0.03em;
  color: var(--hdr-cntcts-lst);

  user-select: none;
  text-underline-position: under;
}

.text-agreement__link {
  color: var(--accent-txt-cl);
}
*/

/*
.btn-register-form {
  display: inline-flex;
  align-items: center;

  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: var(--modal-btn-box-shadow);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--transition);
}

.btn-register-form:hover,
.btn-register-form:focus {
  background-color: var(--accent-txt-hvr-fcs-cl);
}

*/

/*
.title-register-form {
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
}

*/
/*
.label-register-form {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--hdr-cntcts-lst);
}
*/
