.btn {
    display: block;
    margin: 0 auto;

    cursor: pointer;
    border: none;
    border-radius: 4px;

    font-family: inherit;
    font-size: 16px;

    &__hero {
        font-weight: 700;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
        color: var(--btn-txt-cl);
        background-color: var(--accent-txt-cl);
    
        padding: 10px 32px;
    
        transition: color var(--transition), background-color var(--transition);

        &:hover,
        &:focus {
            color: var(--btn-txt-cl);
            background-color: var(--accent-txt-hvr-fcs-cl);
            }
    }
    
   

    &-footer {
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
        color: var(--btn-txt-cl);
    
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;
        padding-right: 62px;
    
        background-color: var(--accent-txt-cl);
        box-shadow: var(--modal-btn-box-shadow);
        border-radius: 4px;
            
    }

    &-modal {
        position: absolute;
        top: 8px;
        right: 8px;
        
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 50%;
        background-color: transparent;
            
        
        border: 1px solid rgba(0, 0, 0, 0.1);
        
        transition: fill var(--transition);
        
        &:hover,
        &:focus {
            fill: var(--accent-txt-cl);
        }
    
    }

    &-register-form {
        display: inline-flex;
        align-items: center;
    
        padding: 10px 52px;

        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;

        color: var(--btn-txt-cl);
        background-color: var(--accent-txt-cl);
        box-shadow: var(--modal-btn-box-shadow);
        border: none;
        border-radius: 4px;
        cursor: pointer;

        transition: background-color var(--transition);

        &:hover,
        &:focus {
            background-color: var(--accent-txt-hvr-fcs-cl);
        }
    }
     
              
}

.portfolio-nav__btn {
    
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color: var(--btn-prtfl);

    text-align: center;
    padding: 6px 22px;

    transition: color var(--transition), background-color var(--transition),
        box-shadow var(--transition);

        &:hover,
        &:focus {
            color: var(--btn-txt-cl);
            background-color: var(--accent-txt-cl);
            box-shadow: var(--box-shadow-porfolio-btn);
            }
}



    

